@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

:root {
    --bg-color: #fad3b6;
    --body-color: #1C1C1C;
    --btn-color: #505050;
    --btn2-color: #D4D4D2;
    --btn3-color: #FF9500;
    --text-color: #f9f9f9;
}
html, body {
    margin: 0 ;
    padding: 0 ;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
        
}

@font-face {
    font-family: "SanFranciscoLight";        
    font-weight: normal;
    src: url("../fonts/SFNSDisplay-Light.ttf") format("truetype");
}
@font-face {
    font-family: "SanFrancisco";        
    font-weight: bolder;
    src: url("../fonts/SFNSDisplay-Regular.ttf") format("truetype");
}


.container-fluid {    
    background-color: var(--bg-color);
    height: 110vh;
    position: fixed;
    overflow: scroll;
    
}

.container-black {
    position: relative;
    background-color: var(--body-color);
    height: 73vh;
    width: 44vh;
    min-height: 400px !important;
    min-width: 241px;
    margin: auto;
    margin-top: 3vh;
    border-radius: 4vh;
    color: var(--text-color);
    font-family: SanFranciscoLight;
    
}
.display {
    border-radius: 5vh;
    border: 2px solid var(--btn-color);
    height: 16vh;
    margin-top: 3vh;
    min-height: 90px !important;
}

.display-text-secondary {
    font-size: 3vh;
    text-align: right;
    letter-spacing: 1.5px;
    height: 4vh;
}

.display2{
    
    position: relative;
}

.display-text-primary {
    position: relative;
    font-size: 6vh;
    text-align: right;
    letter-spacing: 1.5px;
}
.buttons {
    border-radius: 5vh;
    border: 2px solid var(--btn-color);
    height: 49vh;
    min-height: 272px !important;
    margin-top: 2vh;
    font-size: 5vh;
    cursor: default;
}
.cut {
    font-family: SanFrancisco;
    background-color:var(--btn2-color);
    text-align: center;
    color: var(--body-color);
    border-radius: 60px;
    min-height: 47px !important;
    min-width: 148px !important;
    max-width: 26.8vh !important;
    margin-right: 2%;  
    font-weight: bolder;
}
.operators {
    text-align: center;
    background-color: var(--btn3-color);
    border-radius: 60px;
    height: 8.1vh;
    width: 8.1vh;
    min-height: 47px !important;
    min-width: 47px !important;
    max-width: 8.4vh !important; 
}

.numbers {
    text-align: center;
    background-color: var(--btn-color);
    border-radius: 60px;
    height: 8.1vh;
    width: 8.1vh;
    height: 8.1vh;
    width: 8.1vh;
    min-height: 47px !important;
    min-width: 47px !important;
    max-width: 8.4vh !important;
    margin-right: 2%;  
}

.numbers1 {
    text-align: center;
    background-color: var(--btn-color);
    border-radius: 60px;    
    height: 8.1vh;
    width: 8.1vh;
    min-height: 47px !important;
    min-width: 100px !important;
    max-width: 17.8vh !important;
    margin-right: 2%;

}

.mtt-3 {
    margin-top: 1.5vh;
}
.mtt-2 {
    margin-top: 1.2vh;
}
.mxx-1 {
    margin-left: .7vh !important;
    margin-right: .7vh !important;
}

@media screen and (max-height: 550px) {
    .buttons {
        font-size: 30px;
    }
    .display-text-secondary {
        font-size: 17px;
    }
    .display-text-primary {
        font-size: 33px;
    }
    .mtt-3 {
        margin-top: 10px;
    }
    .mtt-2 {
        margin-top: 5px;
    }
}

.themes {
    width: 43vh;
    min-height: 40px !important;
    min-width: 241px;
    margin: auto;
    margin-top: 2vh;
    font-family: 'Rubik', sans-serif;
	font-size: 2vh;
    line-height: 1.5;
	display: flex;
	align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
     border: 0;
     letter-spacing: .15vh;
	 vertical-align: middle;
	 text-decoration: none;
	 font-size: inherit;
	 font-family: inherit;
}
button.learn-more:focus {
     outline: none; 
    }
 button.learn-more {
	 font-weight: 200;
	 color: var(--text-color);
	 text-transform: uppercase;
	 padding: 1em 1.8em;
	 background: var(--btn-color);
	 border: 2px solid var(--body-color);
	 border-radius: 0.75em;
     transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
     transition: transform 100ms cubic-bezier(0, 0, 0.58, 1), background 100ms cubic-bezier(0, 0, 0.58, 1);
     -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.58, 1), background 100ms cubic-bezier(0, 0, 0.58, 1);
}
 button.learn-more::before {
	 position: absolute;
	 content: '';
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: var(--btn2-color);
     border-radius: inherit;
     box-shadow: 0 0 0 2px var(--body-color), 0 0.625em 0 0 var(--btn-color);
     -webkit-transform: translate3d(0, 0.75em, -1em);
     transform: translate3d(0, 0.75em, -1em);
     -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.58, 1), box-shadow 100ms cubic-bezier(0, 0, 0.58, 1);
	 transition: transform 100ms cubic-bezier(0, 0, 0.58, 1), box-shadow 100ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:active {
        background: var(--body-color);
        -webkit-transform: translate(0em, 0.75em);
        transform: translate(0em, 0.75em);
   }
    button.learn-more:active::before {
        box-shadow: 0 0 0 2px var(--body-color), 0 0 var(--btn-color);
        -webkit-transform: translate3d(0, 0, -1em);
        transform: translate3d(0, 0, -1em);
   }

   /* button.learn-more:focus {
    background: var(--body-color);
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
button.learn-more:focus::before {
    box-shadow: 0 0 0 2px var(--body-color), 0 0 var(--btn-color);
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
} */


@media (hover: hover) {
     button.learn-more:hover {
        background: var(--body-color);
        -webkit-transform: translate(0, 0.25em);
        transform: translate(0, 0.25em);
    }
    button.learn-more:hover::before {
        box-shadow: 0 0 0 2px var(--body-color), 0 0.5em 0 0 var(--btn-color);
        -webkit-transform: translate3d(0, 0.5em, -1em);
        transform: translate3d(0, 0.5em, -1em);
    }
    button.learn-more:active {
        background: var(--btn-color);
        -webkit-transform: translate(0em, 0.75em);
        transform: translate(0em, 0.75em);
   }
    button.learn-more:active::before {
        box-shadow: 0 0 0 2px var(--btn-color), 0 0 var(--btn2-color);
        -webkit-transform: translate3d(0, 0, -1em);
        transform: translate3d(0, 0, -1em);
   } 
}


    